.footer {
	width: 100%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-top: 4px solid;
	
	@apply border-primary border-opacity-15 bg-[rgba(179,182,224,0.3)] dark:bg-[rgba(14,14,37,0.5)];
}