.glass {
	background: rgba(7, 7, 24, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(74, 74, 98, 0.25);
}

.card-flip {
	position: relative;
	overflow: hidden;
}

.card-flip:hover::after {
	opacity: 1;
	transform: scale(1);
}

.card-flip::after {
	content: attr(data-name);
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: small;
	opacity: 0;
	transform: scale(0);
	background: rgba(7, 7, 24, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(74, 74, 98, 0.25);
	@apply rounded-lg;
	transition: opacity 0.2s, transform 0.2s;
}
