@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #20b98f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

/* Optional: Remove arrows */
::-webkit-scrollbar-button {
  display: none;
}

/* Text Selection */
*::selection {
  background: var(--clr-primary);
  color: white;
}
*::-moz-selection {
  background: var(--clr-primary);
  color: white;
}


body {
	background-image: linear-gradient(
		75deg,
		hsl(240deg 64% 9%) 0%,
		hsl(240deg 63% 8%) 6%,
		hsl(240deg 62% 8%) 17%,
		hsl(240deg 61% 7%) 35%,
		hsl(240deg 59% 7%) 60%,
		hsl(240deg 58% 6%) 81%,
		hsl(240deg 55% 6%) 92%,
		hsl(240deg 52% 5%) 98%,
		hsl(240deg 47% 5%) 100%,
		hsl(240deg 37% 4%) 100%
	);
	width: 100dvw;
	height: 100dvh;
  overflow-y: hidden;
}

.avatar-cont {
	position: relative;
	width: 500px;
	height: 500px;
	@apply bg-primary;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	animation: animate-avatar-border 30s ease-in-out 0s infinite both;
	overflow: hidden;
}

@keyframes animate-avatar-border {
	0%,
	100% {
		border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	}

  30% {
    border-radius: 77% 23% 43% 57% / 80% 65% 35% 20% ;
  }
	50% {
    border-radius: 63% 37% 68% 32% / 70% 38% 62% 30% ;
	}
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: -10%;
  bottom: -5px;
  @apply bg-primary border-primary;
  transition: 0.5s width;
}

.nav-link:hover::before {
  width: 120%;
}