@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-debug {
	outline: 1px solid red;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	@apply bg-primary;
}

::-webkit-scrollbar-track {
	background-color: #212121;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary bg-opacity-40;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary;
}

/* Optional: Remove arrows */
::-webkit-scrollbar-button {
	display: none;
}

/* Text Selection */
*::selection {
	@apply bg-primary;
	color: white;
}
*::-moz-selection {
	@apply bg-primary;
	color: white;
}

body {
	background-image: linear-gradient(
		75deg,
		hsl(240deg 64% 9%) 0%,
		hsl(240deg 63% 8%) 6%,
		hsl(240deg 62% 8%) 17%,
		hsl(240deg 61% 7%) 35%,
		hsl(240deg 59% 7%) 60%,
		hsl(240deg 58% 6%) 81%,
		hsl(240deg 55% 6%) 92%,
		hsl(240deg 52% 5%) 98%,
		hsl(240deg 47% 5%) 100%,
		hsl(240deg 37% 4%) 100%
	);
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
}

.main-section {
	@apply px-20 max-sm:px-10;
}

.nav-link {
	position: relative;
	@apply max-sm:hidden;
}

.nav-link::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	left: -10%;
	bottom: -5px;
	@apply bg-primary border-primary;
	transition: 0.5s width;
}

.nav-link:hover::before {
	width: 120%;
}

.header {
	@apply text-white tracking-wide my-10;
	display: flex;
	align-items: center;
}

.header::before {
	content: "";
	position: relative;
	width: 60px;
	height: 4px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 15px;
	@apply bg-primary;
}

.navbar {
	z-index: 9999;
	transition: background-color 0.2s 0s, padding 0.2s 0s;
	@apply py-10;
}

.navbar.scrolled-state {
	background-color: rgba(0, 0, 0, 0.6);
	@apply py-5;
}

.blob-cont {
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	@apply bg-primary;
	overflow: hidden;
}

.blob-cont.blob-anim-1 {
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	animation: animate-avatar-border-1 30s ease-in-out 0s infinite both;
}

.blob-cont.blob-anim-2 {
	animation: animate-avatar-border-2 30s ease-in-out 0s infinite both;
	border-radius: 30% 70% 70% 30% / 62% 30% 70% 38%;
}

@keyframes animate-avatar-border-1 {
	0%,
	100% {
		border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	}

	30% {
		border-radius: 77% 23% 43% 57% / 80% 65% 35% 20%;
	}
	50% {
		border-radius: 63% 37% 68% 32% / 70% 38% 62% 30%;
	}
}

@keyframes animate-avatar-border-2 {
	0%,
	100% {
		border-radius: 78% 22% 66% 34% / 69% 67% 33% 31%;
	}
	30% {
		border-radius: 49% 51% 70% 30% / 52% 30% 70% 48%;
	}
	50% {
		border-radius: 71% 29% 51% 49% / 41% 28% 72% 59%;
	}
}

.footer {
	width: 100%;
	height: 300px;
	background: rgba(14, 14, 37, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(14, 14, 37, 0.25);
	border-top: 4px solid;
	@apply border-primary border-opacity-65;
}
