@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-debug {
	outline: 1px solid red;
}

html,
main {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	@apply bg-primary;
}

::-webkit-scrollbar-track {
	/* background-color: #212121; */
	@apply bg-lightScroll dark:bg-darkScroll;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary bg-opacity-40;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary;
}

/* Optional: Remove arrows */
::-webkit-scrollbar-button {
	display: none;
}

/* Text Selection */
*::selection {
	@apply bg-primary bg-opacity-35 text-dark dark:text-light;
}

*::-moz-selection {
	@apply bg-primary bg-opacity-35 text-dark dark:text-light;
}

body {
	@apply bg-light-bg-gradient dark:bg-dark-bg-gradient;
	width: 100dvw;
	height: 100dvh;
}

.main-section {
	@apply px-20 max-sm:px-10;
}

.header {
	@apply text-dark dark:text-light tracking-wide my-10;
	display: flex;
	align-items: center;
}

.header::before {
	content: "";
	position: relative;
	width: 60px;
	height: 4px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 15px;
	@apply bg-primary;
}

.navbar {
	z-index: 9999;
	transition: background-color 0.2s 0s, padding 0.2s 0s;
	@apply py-10;
}

.navbar.scrolled-state {
	@apply py-5 bg-black bg-opacity-60 text-light;
}

.blob-cont {
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	@apply bg-primary;
	overflow: hidden;
}

.blob-cont.blob-anim-1 {
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	animation: animate-avatar-border-1 30s ease-in-out 0s infinite both;
}

.blob-cont.blob-anim-2 {
	animation: animate-avatar-border-2 30s ease-in-out 0s infinite both;
	border-radius: 30% 70% 70% 30% / 62% 30% 70% 38%;
}

@keyframes animate-avatar-border-1 {
	0%,
	100% {
		border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	}

	30% {
		border-radius: 77% 23% 43% 57% / 80% 65% 35% 20%;
	}
	50% {
		border-radius: 63% 37% 68% 32% / 70% 38% 62% 30%;
	}
}

@keyframes animate-avatar-border-2 {
	0%,
	100% {
		border-radius: 78% 22% 66% 34% / 69% 67% 33% 31%;
	}
	30% {
		border-radius: 49% 51% 70% 30% / 52% 30% 70% 48%;
	}
	50% {
		border-radius: 71% 29% 51% 49% / 41% 28% 72% 59%;
	}
}

.icon-link {
	transition: color 0.2s;
}

.icon-link:hover {
	@apply text-primary;
}

.theme-change-icon {
	position: absolute;
	top: 0;
	transition: transform 0.3s;
}

.hover-primary {
	transition: transform 0.2s, color 0.2s;
}

.hover-primary:hover {
	transform: scale(1.1);
	@apply text-primary;
}