@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-debug {
	outline: 1px solid red;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	@apply bg-primary;
}

::-webkit-scrollbar-track {
	background-color: #212121;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary bg-opacity-40;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary;
}

/* Optional: Remove arrows */
::-webkit-scrollbar-button {
	display: none;
}

/* Text Selection */
*::selection {
	@apply bg-primary;
	color: white;
}
*::-moz-selection {
	@apply bg-primary;
	color: white;
}

body {
	background-image: linear-gradient(
		75deg,
		hsl(240deg 64% 9%) 0%,
		hsl(240deg 63% 8%) 6%,
		hsl(240deg 62% 8%) 17%,
		hsl(240deg 61% 7%) 35%,
		hsl(240deg 59% 7%) 60%,
		hsl(240deg 58% 6%) 81%,
		hsl(240deg 55% 6%) 92%,
		hsl(240deg 52% 5%) 98%,
		hsl(240deg 47% 5%) 100%,
		hsl(240deg 37% 4%) 100%
	);
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
}

.nav-link {
	position: relative;
	@apply max-sm:hidden;
}

.nav-link::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	left: -10%;
	bottom: -5px;
	@apply bg-primary border-primary;
	transition: 0.5s width;
}

.nav-link:hover::before {
	width: 120%;
}

.header {
	@apply text-white tracking-wide my-10;
	display: flex;
	align-items: center;
}

.header::before {
	content: '';
	position: relative;
	width: 60px;
	height: 4px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 15px;
	@apply bg-primary;
}

.navbar {
	z-index: 9999;
	transition: background-color 0.2s 0s, padding 0.2s 0s;
	@apply py-10;
}

.navbar.scrolled-state {
	background-color: rgba(0, 0, 0, 0.6);
	@apply py-5
}