@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-debug {
	outline: 1px solid red;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	@apply bg-primary;
}

::-webkit-scrollbar-track {
	background-color: #212121;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary bg-opacity-40;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary;
}

/* Optional: Remove arrows */
::-webkit-scrollbar-button {
	display: none;
}

/* Text Selection */
*::selection {
	@apply bg-primary;
	color: white;
}
*::-moz-selection {
	@apply bg-primary;
	color: white;
}

body {
	background-image: linear-gradient(
		75deg,
		hsl(240deg 64% 9%) 0%,
		hsl(240deg 63% 8%) 6%,
		hsl(240deg 62% 8%) 17%,
		hsl(240deg 61% 7%) 35%,
		hsl(240deg 59% 7%) 60%,
		hsl(240deg 58% 6%) 81%,
		hsl(240deg 55% 6%) 92%,
		hsl(240deg 52% 5%) 98%,
		hsl(240deg 47% 5%) 100%,
		hsl(240deg 37% 4%) 100%
	);
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
}

.avatar-cont {
	position: relative;
	width: 450px;
	height: 450px;
	aspect-ratio: 1 / 1;
	@apply bg-primary max-sm:w-full;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	animation: animate-avatar-border 30s ease-in-out 0s infinite both;
	overflow: hidden;
}

@keyframes animate-avatar-border {
	0%,
	100% {
		border-radius: 70% 30% 46% 54% / 36% 29% 71% 64%;
	}

	30% {
		border-radius: 77% 23% 43% 57% / 80% 65% 35% 20%;
	}
	50% {
		border-radius: 63% 37% 68% 32% / 70% 38% 62% 30%;
	}
}

.nav-link {
	position: relative;
	@apply max-sm:hidden;
}

.nav-link::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	left: -10%;
	bottom: -5px;
	@apply bg-primary border-primary;
	transition: 0.5s width;
}

.nav-link:hover::before {
	width: 120%;
}

.header {
	@apply text-primary text-3xl tracking-wide;
}

.header::before {
	content: '';
	width: 20px;
	height: 0px;

	@apply bg-primary;
}