.border-sep {
	position: relative;
}

.border-sep::before {
	content: "";
	position: absolute;
	right: -1.5px;
	width: 3px;
	top: 8%;
	height: 3%;
	@apply bg-primary bg-opacity-50 rounded-xl max-lg:hidden;
}

.border-sep::after {
	content: "";
	position: absolute;
	right: -1.5px;
	width: 3px;
	top: 13%;
	bottom: 10%;
	height: calc(100%-13%-10%);
	@apply bg-primary bg-opacity-50 rounded-xl max-lg:hidden;
}

.glass-bg {
	background: rgba(175, 180, 239, 0.15);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(175, 180, 239, 0.075);
	transition: background-color 0.2s, transform 0.2s;
}

.glass-bg:hover {
	@apply bg-primary bg-opacity-30;
	transform: scale(1.1);
}


.connect-form input,
.connect-form textarea {
	background: rgba(175, 180, 239, 0.15);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(175, 180, 239, 0.075);

	@apply mb-4 px-5 py-2 text-dark dark:text-light rounded-md border-[rgba(90,92,126,0.15)] dark:border-[rgba(175,180,239,0.075)] ;
}

.connect-form textarea {
	resize: none;
	min-height: 100px;
}
