.avatar-cont {
	position: relative;
	width: 450px;
	aspect-ratio: 1 / 1;
	@apply bg-primary max-sm:w-full lg:h-[450px];
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}