:root {
	--left-gap: 120px;
}

.timeline {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

/**Timeline line**/
.timeline::after {
	content: "";
	position: absolute;
	width: 4px;
	@apply bg-primary;
	top: 0;
	bottom: 0;
	margin-left: -3px;
	border-radius: 10px;
}

.timeline[data-align="left"]::after {
	left: var(--left-gap);
}

.timeline[data-align="right"]::after {
	right: var(--left-gap);
}

.timeline .container {
	position: relative;
	width: calc(100% - var(--left-gap));
}

.timeline[data-align="left"] .container {
	padding: 10px 0px 10px 25px;
	left: var(--left-gap);
}

.timeline[data-align="right"] .container {
	padding: 10px 25px 10px 0px;
	right: 0;
	text-align: right;
}

/* Title*/
.timeline .container::before {
	content: attr(data-title);
	position: absolute;
	width: 100px;
	top: 12px;
	@apply font-semibold text-dark dark:text-light;
}

.timeline[data-align="left"] .container::before {
	left: -120px;
}

/* The circles on the timeline */
.timeline .container::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: 3px solid;
	@apply border-primary;
	background-color: white;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.timeline[data-align="left"] .container::after {
	left: -11px;
}

.timeline[data-align="right"] .container::after {
	right: -8px;
}

/* The actual content */
.timeline .content {
	position: relative;
	@apply text-dark dark:text-light;
}

.timeline[data-align="left"] .content {
	text-align: left;
}

.timeline[data-align="right"] .content {
	text-align: end;
}

.timeline[data-align="right"] .skill-bubbles {
	flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
	:root {
		--left-gap: 0px;
	}

	/* Title*/
	.timeline .container::before {
		width: auto;
		@apply font-semibold opacity-70;
	}

	.timeline[data-align="left"] .container::before {
		text-align: left;
		left: 25px;
	}

	.timeline[data-align="right"] .container::before {
		text-align: right;
		right: 25px;
	}

	.content {
		margin-top: 30px;
	}
}
